bin
gen
.ant-targets-build.xml
local.properties
build.properties
doc
*.zip
*.swp
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
build
*.iml
gradle
gradlew
.idea
wiki
gradle.properties
release.ks
crowdin.yaml
