<?xml version="1.0" encoding="utf-8"?>
	<!--
		Copyright (C) 2009 Felix Bechstein
	-->
	<!--
		This file is part of SMSdroid. This program is free software; you can
		redistribute it and/or modify it under the terms of the GNU General
		Public License as published by the Free Software Foundation; either
		version 3 of the License, or (at your option) any later version.
	-->
	<!--
		This program is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General Public License for more details. You should have received a
		copy of the GNU General Public License along with this program; If
		not, see <http://www.gnu.org/licenses/>.
	-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.ub0r.android.smsdroid" android:versionCode="108"
	android:versionName="0.2.4" android:installLocation="internalOnly">
	<application android:name=".SMSdroid" android:icon="@drawable/icon"
		android:label="@string/app_name" android:debuggable="true">
		<activity android:name=".ConversationList" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android-dir/mms-sms" />
			</intent-filter>
		</activity>
		<activity android:name=".Preferences" android:configChanges="orientation|keyboardHidden" />
		<activity android:name=".About" android:configChanges="orientation|keyboardHidden" />
		<activity android:name=".MessageList" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android-dir/mms-sms"
					android:pathPrefix="/threadID/" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android-dir/mms-sms"
					android:pathPrefix="/conversations/" />
			</intent-filter>
		</activity>
		<activity android:name="de.ub0r.android.lib.DonationHelper"
			android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="adjustResize" />
		<receiver android:name="de.ub0r.android.lib.DonationReceiver">
			<intent-filter>
				<action android:name="de.ub0r.android.donator.REGISTERED" />
			</intent-filter>
		</receiver>
		<receiver android:name="SmsReceiver">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
				<data android:mimeType="application/vnd.wap.mms-message" />
			</intent-filter>
		</receiver>
		<receiver android:name=".WidgetProvider">
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_provider" />
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
		</receiver>
		<service android:name=".SyncService" android:exported="false" />
		<provider android:name="ConversationProvider"
			android:authorities="de.ub0r.android.smsdroid.messages" />
		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14b9f701ee348f" android:name="ADMOB_PUBLISHER_ID" />
		<meta-data android:value="true" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" />
	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8" />
	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true"
		android:anyDensity="true" />

	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_MMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<!-- AdMob SDK permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
