<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2009-2015 Felix Bechstein -->
<!--
		This file is part of SMSdroid. This program is free software; you can
		redistribute it and/or modify it under the terms of the GNU General
		Public License as published by the Free Software Foundation; either
		version 3 of the License, or (at your option) any later version.
-->
<!--
		This program is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General Public License for more details. You should have received a
		copy of the GNU General Public License along with this program; If
		not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.ub0r.android.smsdroid"
          android:installLocation="internalOnly">

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.network"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.telephony"
            android:required="false"/>
    <permission android:name="de.ub0r.android.smsdroid.SAVE_TO_DB"
                android:label="@string/permission_save_to_db"
                android:description="@string/permission_save_to_db_description"
                android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- AdMob SDK permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".SMSdroid"
            android:hardwareAccelerated="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name">
        <activity
                android:name=".ConversationListActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/app_name"
                android:launchMode="singleTop"
                android:theme="@style/Theme.SMSdroid_Light"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="vnd.android-dir/mms-sms"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".PreferencesActivity"/>
        <activity android:name=".PreferencesAppearanceActivity"/>
        <activity android:name=".PreferencesBehaviorActivity"/>
        <activity android:name=".PreferencesNotificationActivity"/>
        <activity android:name=".Preferences11Activity"/>
        <activity
                android:name=".AboutActivity"
                android:theme="@style/Theme.SMSdroid_Light"/>
        <activity
                android:name=".MessageListActivity"
                android:configChanges="orientation|keyboardHidden"
                android:launchMode="singleTop"
                android:theme="@style/Theme.SMSdroid_Light"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:mimeType="vnd.android-dir/mms-sms"
                        android:pathPrefix="/threadID/"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:mimeType="vnd.android-dir/mms-sms"
                        android:pathPrefix="/conversations/"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SenderActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/sender_name"
                android:launchMode="singleTop"
                android:theme="@style/Theme.SMSdroid_Light"
                android:windowSoftInputMode="stateUnchanged|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SENDTO"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </activity>

        <!-- Service that delivers messages from the phone "quick response" -->
        <service android:name=".HeadlessSmsSendService"
                 android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </service>


        <receiver android:name=".SmsReceiver" android:exported="true"
                  android:permission="android.permission.BROADCAST_SMS">

            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER"/>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>

        </receiver>

        <receiver android:name=".MmsReceiver" android:exported="true"
                  android:permission="android.permission.BROADCAST_WAP_PUSH">

            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVE"/>
                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".WebSMSBroadcastReceiver"
                  android:permission="de.ub0r.android.smsdroid.SAVE_TO_DB">
            <intent-filter>
                <action android:name="de.ub0r.android.websms.SEND_SUCCESSFUL"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="de.ub0r.android.smsdroid.MARK_READ"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".WidgetProvider">
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_provider"/>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>

        <provider
                android:name=".MessageProvider"
                android:authorities="de.ub0r.android.smsdroid"/>
        <provider
                android:name=".SearchProvider"
                android:authorities="de.ub0r.android.smsdroid.SearchProvider"
                android:syncable="false"/>

        <activity
                android:name="com.google.android.gms.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <meta-data
                android:name="android.app.default_searchable"
                android:value=".ConversationList"/>
    </application>

</manifest>
